*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', Helvetica, sans-serif;
    background: var(--fond);
}

/*  ------ Navigation -------- */

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background: var(--principal);
}

nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: var(--texte);
    text-transform: uppercase;
}

@media screen and (max-width: 870px) {
    nav {
        height: 50px;
    }
    nav li {
        margin: 0 8px;
    }
    nav a {
        font-size: 17px;
    }
}

@media screen and (max-width: 550px) {
    nav {
        height: 35px;
    }
    nav li {
        margin: 0 3px;
    }
    nav a {
        font-size: 2.8vw;
    }
}

/*  ------ Acceuil Fondu -------- */

.accueil {
    height: 700px;
    display: flex;
    overflow: hidden;
}
.bloc-gauche-accueil {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: var(--blocs);
    box-shadow: 90px 0 100px 100px var(--blocs);
}
h1 {
    color: var(--important);
    font-family: 'Cormorant Unicase', Helvetica, sans-serif;
    font-size: 80px;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 8vw;
    white-space: nowrap;
}
.accueil p {
    color: var(--texte);
    font-size: 30px;
    text-align: justify;
    width: 600px;
    margin-left: 8vw;
    line-height: 1.3;
}
.cont-btn-home {
    display: flex;
}
.btn-imp {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--important);
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
    border: 1px solid var(--important);
    width: 250px;
    cursor: pointer;
    white-space: nowrap;
}
.btn-imp:hover {
    transition: all 0.2s ease-in-out;
    color: var(--texte);
    background-color: var(--important);
}
.b1 {
    margin-left: 8vw;
}
.b2 {
    margin-left: 10px;
}
.bloc-droit-accueil {
    background-image: url(Images/accueil1.jpg);
    width: 60%;
    height: 100%;
}

@media screen and (max-width: 1450px) {
    .bloc-gauche-accueil {
        width: 60%;
    }
    .bloc-droit-accueil {
        background-position: 30% 10%;
    }
}

@media screen and (max-width: 870px) {
    .accueil {
        height: 500px;
    }
    h1 {
        font-size: 45px;
        padding-top: 100px;
    }
    .accueil p {
        font-size: 25px;
        margin-top: 10px;
    }
    .btn-imp {
        font-size: 16px;
        padding: 12px;
        margin-top: 20px;
    }
    .bloc-gauche-accueil {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .accueil {
        height: 300px;
    }
    h1 {
        font-size: 30px;
        padding-top: 60px;
        margin-left: 2vw;
    }
    .accueil p {
        font-size: 15px;
        margin-left: 2vw;
        margin-bottom: 10px;
    }
    .btn-imp {
        font-size: 11px;
        padding: 6px;
        margin-top: 10px;
    }
    .b1 {
        margin-left: 2vw;
    }
    .b2 {
        margin-left: 6px;
    }
    .bloc-gauche-accueil {
        box-shadow: 20px 0 100px 100px var(--blocs);
        width: 40%;
    }
    .bloc-droit-accueil {
        background-position: 30% 30%;
    }
}

/*  ------ Contenu -------- */

section {
    background-color: var(--principal);
    padding: 75px;
}

@media screen and (max-width: 870px) {
    section {
    padding: 55px;
    }
}

@media screen and (max-width: 550px) {
    section {
    padding: 40px;
    }
}

/*  ------ Partie 1 - Recherche resto -------- */

.p1 {
    background-color: var(--fond);
    border-radius: 10px;
    height: 525px;
}
.texte_p1 {
    height: 85%;
}
.texte_p1 h2 {
    font-family: 'Cormorant Unicase', Helvetica, sans-serif;
    font-size: 40px;
    background-color: var(--blocs);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
    color: var(--important);
}
.texte_p1 p {
    display: flex;
    padding: 1.5vw;
    font-size: 1.7vw;
    color: var(--texte);
}
.bouton_p1 {
    height: 15%;
    margin-left: 15px;
}

@media screen and (max-width: 870px) {
    
}